@charset "utf-8";

*
{   
    margin: 0;  
    padding: 0;  
    font-family: '黑体';
    font-size: 20px;
}

.container{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 100px);
    padding: 50px 0 50px 0;
    background-image: url('../img/格子.png');
}


.header{
    height: 50px;
    width: 100%;
    background-color: rgb(224, 243, 204);
    font-size: 24px;
    position: fixed;
    z-index: 1;
}


li{
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

a{
    display: block;
    text-decoration: none;
    color: rgba(18,20,28,0.7);
}

.carousel{
    height: 50%;
}

.content{
    height:10%;
    width:100%;
    text-align:center;
    position:absolute;
    top:35%;
}

.line{
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.438);
    font-size: 30px;
}

.blocks{
    margin: 100px 20% 100px 20%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flow-root;
}

.block{
    margin: 10%;
    height: 80px;
    width: 30%;
    min-width: 200px;
    background-color: rgba(0, 128, 0, 0.137);
    float: left;
    text-align: center;
}

.inblock{
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: rgba(18,20,28,0.7);
}

.loginform{
    width: fit-content;
    margin: 15% 41% 0 41%;
    background-color: rgb(212 212 212 / 38%);
}

a:hover{
    color: #0960ffd9;
}
